@import '../../mixin.scss';

.container-pagination {
  justify-content: space-between;
  background-color: rgba($color: $white, $alpha: 0.9);
  padding: 10px;

  p {
    padding: 5px 5px;
    color: black;
  }
}