@import '../../mixin.scss';

.book-favorites {
  font: 24px/12px Quicksand-Regular;
  padding-top: 7vh;

  @media only screen and (max-width: 1000px) {
    padding-top: 13vh;
  }

  h3 {
    background-color: rgba($color: $white, $alpha: 0.9);
    border-radius: 10px;
    padding: 10px;
  }

  border-radius: 25px;
}