$red: #FF4141;

$yellow: #FDD660;

$gray_texts: #BEBEBE;

$gray_icons: #8E8E8E;

$gray_texts2: #505050;

$gray_input: #F5F5F5;

$blue: #3ECFF7;

$blue_hover: #38BFE4;

$blue_text_select: #005669;

$green: #18B087;

$green_hover: #148E6D;

$green_text_select: #00523C;

$gray: #E1E1E1;

$gray_hover: #BEBEBE;

$white: #fff;